*, ::after, ::before {
  box-sizing: border-box;
}

html, body > header {
  min-width: 320px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  font-size: .92rem;
  margin: 0;
}

body *, body ::after, body ::before {
  transition: all .12s ease-in-out;
  border: 0 solid rgb(200, 197, 197);
}

html, table, #menu {
  background: rgb(242, 242, 242);
  color: #1c2024;
}

html, html * {
  scrollbar-color: rgb(200, 197, 197) rgb(232, 230, 228);
}

html {
  overflow-x: hidden;
}

#container {
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container > main {
  flex: 1 0 0;
}

body > header {
  backdrop-filter: blur(.2rem);
  background: rgba(248, 248, 248, .84);
  position: fixed;
  z-index: 101;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom-width: thin !important;
}

body > header > div {
  display: flex;
  gap: .32rem;
  height: 70%;
}

#logo {
  flex: 0 0 100px;
}

button, .btn {
  overflow: hidden;
  position: relative;
}

button, .btn, button *, .btn * {
  cursor: pointer;
}

.choose-options select {
  outline: none;
  border: none;
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  width: 150%;
  text-indent: -999999px;
  background: transparent;
  appearance: none;
}

#menu {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 280px;
  border-right-width: thin !important;
  padding: .52rem;
  padding-bottom: 2rem;
}

#menu-backdrop {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(.5rem);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transition-property: background;
}

#menu-toggle {
  display: none;
  position: fixed;
  z-index: 98;
  bottom: 2%;
  right: 2%;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 50%;
  background: #d90000;
  padding: .5rem;
  color: #fff;

  /*bottom: 1%;
  right: calc(50vw - 32px);*/
}

#menu dd {
  padding: 0 0 0 1rem;
}

#menu dl, #menu dd {
  margin: 0;
}

#menu a, #menu dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu a::after {
  content: url('data:image/svg+xml,%3Csvg viewBox="0 0 512 896" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M 0,56.768 50.432,0 512,448 50.432,896 0,839.232 403.072,448 Z"/%3E%3C/svg%3E');
  display: block;
  width: 9px;
  height: 16px;
}

body > header a,
body > header .btn,
#menu a,
#menu dt {
  background: transparent;
  border-radius: .275rem;
  color: inherit !important;
  text-decoration: none;
}

body > header a, body > header .btn {
  padding: .5rem;
}

#menu dt {
  text-transform: uppercase;
  font-size: 72%;
  font-weight: bold;
}

#menu a, #menu dt {
  margin: .1rem 0;
  padding: .72rem .5rem;
}

body > header .icon,
body > header .icon,
body > header a > span,
body > header .btn > span {
  vertical-align: middle;
  pointer-events: none;
}

a.current {
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: 24px;
}

td .icon {
  width: 16px;
}

body > header, .info, .box, #menu-toggle {
  box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .025), 0 .05rem .1rem rgba(0, 0, 0, .05);
}

.info, .box, aside.sample {
  border-radius: .35rem;
}

.info.note {
  background: #dde7ff;
}

.info.warn {
  background-color: #fff4ae;
  border-color: #d7b35d;
}

.info.warn a {
  color: inherit !important;
}

main {
  padding: 4rem;
  padding-top: 100px !important;
}

main, #container > footer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

h1 {
  padding: .6rem 0;
  margin: 0;
}

h1 ~ p {
  margin: .2rem .2rem 1rem .2rem;
}

h2 {
  margin-top: -2rem;
  padding-top: 4rem;
  margin-bottom: .875rem;
}

h2 a, h3 a {
  color: inherit !important;
  text-decoration: none;
}

h2 a::after, h3 a::after {
  display: none;
  margin-left: .4rem;
  content: "#";
  color: rgb(217, 0, 0);
}

h2 a:hover::after, h3 a:hover::after {
  display: inline;
}

main > section {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-top-width: thin !important;
}

section p {
  line-height: 1.5;
}

section ul {
  padding-left: 1.5rem;
  word-wrap: anywhere;
}

code {
  /* padding: .1rem .16rem;*/
  padding: .01rem .3rem;
  margin: .05rem .1rem;
  display: inline-block;
  background: rgb(15, 15, 15);
  border-radius: .2rem;
  white-space: pre-wrap;
  word-wrap: anywhere;
  color: #fff;
}

a > code {
  text-decoration: underline;
}

td code {
  white-space: pre;
}

footer {
  display: flex;
  gap: .75rem;
}

#container > footer {
  justify-content: space-between;
  padding: 2rem 4rem;
  font-size: .72rem;
}

#container > footer > :last-child {
  text-align: right;
}

#container > footer p {
  margin: .05rem 0;
}

main > footer {
  margin: 1.5rem 0;
  flex-direction: row-reverse;
}

main > footer > * {
  flex: 1 0 0;
}

ul > li {
  margin-bottom: .5rem;
}

/* mobile */
/*@media (max-width: 1000px) {*/
@media (max-width: 920px) {
  #menu {
    position: fixed;
    z-index: 102;
    left: auto;
    top: auto;
    right: 10px;
    bottom: 10px;
    width: calc(100vw - 20px);
    max-width: 420px;
    min-width: 296px;
    border-radius: .35rem;
    border-width: thin !important;
    transform: translateY(110%);
    overflow: visible !important;
    padding: .25rem;
  }

  #menu > div {
    height: 40vh;
    inset: 0;
    min-height: 240px;
    padding: .5rem;
    overflow-x: hidden;
    overflow: auto;
    overscroll-behavior: contain;
    transform: translateZ(0);
  }

  html.show-menu #menu {
    box-shadow: 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22);
    transform: translateY(0);
  }

  html.show-menu #menu + #menu-backdrop {
    background: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
  }

  html.show-menu {
    overflow: hidden;
  }

  html.dark.show-menu #menu + #menu-backdrop {
    background: rgba(0, 0, 0, 0);
  }

  #menu-toggle {
    display: block;
  }

  #menu-toggle > .icon {
    display: block;
    margin: 0 auto;
  }

  #menu-backdrop {
    display: block;
  }

  #container {
    margin-left: 0;
  }

  main, #container > footer {
    padding: 1.5rem;
  }

  #container > footer {
    padding-bottom: 5rem;
  }

  .compact {
    visibility: hidden !important;
    overflow: hidden !important;
    display: block !important;
    width: 1px !important;
    height: 1px !important;
  }
}

@media (max-width: 640px) {
  main > footer {
    flex-direction: column;
  }
}

table {
  border: none;
  border-collapse: collapse;
  min-width: 600px;
  width: 100%;
}

th {
  text-align: left;
  border-bottom-width: thin !important;
  white-space: nowrap;
}

th, td {
  font-weight: normal;
  padding: .75rem;
  border-right-width: thin !important;
}

tr>:last-child {
  border-right-width: 0 !important;
}

td:first-child {
  min-width: 230px;
}

thead {
  font-size: .9em;
}

tbody > tr:nth-child(2n) {
  background: rgba(0, 0, 0, .04);
}

#menu a.current, thead {
  background: rgb(235, 234, 232);
  background: #fff;
}

body > header a:hover,
body > header .btn:hover,
#menu a:hover,
a.info:hover,
button.info:hover,
tbody > tr:hover {
  background: rgb(203, 227, 244);
}

#menu a.current {
  border-width: thin;
}

.info {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .75rem;
  padding: .75rem 1rem;
  background: rgb(242, 242, 242);
}

/*.info, .box {
  border: 10px solid transparent;
  border-image: linear-gradient(to right, cyan, lime) 1;
}*/

.info, .box {
  border-width: thin !important;
  position: relative;
}

.info > img, .info > [role="img"] {
  fill: currentColor;
  flex: 0 0 20px;
  width: 20px;
}

.info > p {
  flex: 1 0 0;
}

.info.alt, .info[rel="next"] {
  flex-direction: row-reverse;
}

.info.alt > img,
.info.alt > [role="img"],
.info[rel="next"] > img,
.info[rel="next"] > [role="img"] {
  transform: scale(-1, -1);
}

.box {
  overflow: auto;
  overflow-y: hidden;
}

.box, .info {
  margin-bottom: .875rem;
}

.box > code {
  border: none !important;
  border-radius: 0;
  margin: 0;
  display: block;
  padding: 1rem;
  overflow-x: auto;
  max-width: initial;
  white-space: pre;
}

.box > code em { color: #ac95ff; }
.box > code b { color: #54cc72; }
.box > code i { color: #c39c00; }
.box > code * {
  font-style: normal;
  font-weight: normal;
}
.box > code strong {
  color: #a2a3a4;
  font-weight: bold !important;
}

.box > code i::first-letter { color: #fff; }

a[href] {
  color: #d90000;
}

::marker {
  color: #d90000;
  font-weight: bold;
}

html.dark a[href] {
  color: #ff7a7a;
}

html.dark ::marker {
  color: #ff7a7a;
}

a[rel^="prev"].info,
a[rel*=" prev"].info,
a[rel^="next"].info,
a[rel*=" next"].info {
  color: inherit !important;
  font-weight: bold;
}

/* code blocks */
code[data-lang=terminal] {
  color: #00da59;
}

code > span::before {
  color: #c6d6c7;
}
code[data-lang=terminal] > span::before {
  content: "$";
  display: inline-block;
  margin-right: .5em;
}
code > span.output::before {
  content: "";
  margin-right: 0;
}
code.lines {
  counter-reset: line;
}
code.lines > span:not([class])::before {
  display: block;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: thin solid #414856;
  padding-right: .5em;
  width: 1.9em;
  margin-right: .92em;
  text-align: right;
}
code.lines > span.output, code.lines > span:not([class])::before {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
}
/* code blocks */

/* folder tree */
.tree, .tree ul {
  padding: 0 0 0 2em;
  margin: 0;
}
.tree, .tree ::before, .tree ::after {
  border-color: #c3c3c3;
}
.tree li {
  list-style-type: none;
  margin: 0 0 0 .2em;
  position: relative;
  min-height: 1.5em;
}
.tree li ul {
  margin-top: .2em;
}
.tree li::after {
  position: absolute;
  top: calc(.75em);
  left: -2em;
  border-top-width: thin !important;
  content: "";
  width: 2em;
}
.tree li::before {
  position: absolute;
  left: -2em;
  top: 0;
  border-left-width: thin !important;
  content: "";
  width: 2em;
  height: 100%;
}
.tree li:last-child::before {
  height: .75em;
}
.tree b {
  font-family: monospace;
  flex: 0 0 6em;
}

.sr {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip-path: inset(50%);
  border: 0 !important;
}

aside.sample {
  background: #fff;
  border-width: thin;
  padding: .5rem;
  overflow: auto;
  font-size: .75rem;
}

aside.sample > .inner {
  padding: .5rem;
  min-width: 450px;
}

/* dark */
html.dark tbody > tr:nth-child(2n) {
  background: rgba(255, 255, 255, .04);
}

html.dark body * {
  border-color: rgb(51, 58, 68);
}

html.dark .info {
  background-color: rgb(13, 17, 23);
}

html.dark .info.warn {
  background-color: #272115;
  border-color: #664613;
}

html.dark .info.note {
  background-color: #0d2847;
  border-color: #205d9e;
}

html.dark body > header a:hover,
html.dark body > header .btn:hover,
html.dark #menu a:hover,
html.dark a.info:hover,
html.dark button.info:hover,
html.dark tbody > tr:hover {
  background: rgb(26, 37, 51);
}

html.dark thead,
html.dark #menu a.current {
  background: rgb(21, 27, 35);
}

/*
html.dark body > header,
html.dark .info,
html.dark .box,
html.dark #menu-toggle {
  //box-shadow: 0 .05rem .15rem rgba(255, 255, 255, .025), 0 .05rem .1rem rgba(255, 255, 255, .05);
}
*/

html.dark, html.dark table, html.dark #menu {
  background: rgb(13, 17, 23);
  color: white;
}

html.dark body > header {
  background: rgba(13, 17, 23, .8);
}

html.dark #menu a::after {
  content: url('data:image/svg+xml,%3Csvg fill="%23fff" viewBox="0 0 512 896" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M 0,56.768 50.432,0 512,448 50.432,896 0,839.232 403.072,448 Z"/%3E%3C/svg%3E');
}

html.dark code {
  border-width: thin;
  background: rgb(21, 27, 35);
}

body {
  color: inherit;
}

html.dark, html.dark * {
  scrollbar-color: rgb(71, 72, 81) rgb(18, 24, 32);
}

.code-inphinit {
    text-align: left;
    background-color: #282C35;
    border-radius: 4px;
    overflow: hidden;
    color: #dfe0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .18), 0 1px 2px rgba(0, 0, 0, .30);
}
.code-inphinit .hl-line {
    background-color: #656565;
    border-radius: 2px;
    padding: 5px 0;
    margin: 5px 0;
    color: #fff;
    width: 100%;
}
.code-inphinit-header {
    background-color: #ed591a;
    padding: 10px;
    color: #fff;
}
.code-inphinit-header a {
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: thin currentColor dotted !important;
    background-color: transparent !important;
}
.code-inphinit .code-inphinit-error {
    background-color: #fcfcfc;
    font-weight: bold;
    color: #282C35;
    padding: 10px;
    margin: 0;
}
.code-inphinit .code-inphinit-error > a {
    color: #5f5f8c;
    text-decoration: none;
    border-bottom: thin #3b4045 dotted;
}
.code-inphinit pre {
    line-height: 24px;
    padding: 5px;
    overflow: auto;
    margin: 0;
}
.code-inphinit pre > span {
    display: inline-block;
}

.code-inphinit pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: 22px;
    border-right: 1px solid #414856;
    margin-right: 10px;
    color: #888;
    text-align: right;
    padding-right: 10px;
}

.code-inphinit pre span::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: 42px;
    border-right: 1px solid #414856;
    margin-right: 10px;
    color: #888;
    text-align: right;
    padding-right: 10px;
}

/*BG*/
.grid-ani {
  perspective: 200px;
  perspective-origin: 50% 0%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 92px;
  z-index: -1;
  overflow: hidden;
}

.grid-ani::before, .grid-ani::after {
  content: "";
  width: 100%;
  bottom: 0;
  position: absolute;
  display: block;
}

.grid-ani::before {
  z-index: 2;
  height: 92px;
  background: linear-gradient(0deg, rgba(242, 242, 242, 0) 0, rgba(242, 242, 242, 1) 70%);
}

.grid-ani::after {
  z-index: 1;
  height: 145px;
  background-image:
    linear-gradient(to right, #dedede 1px, transparent 1px),
    linear-gradient(to bottom, #dedede 1px, transparent 1px);
  background-size: 32px 32px;
  transform: rotateX(50deg);
  animation: move-grid-plane 1s linear infinite;
}

@keyframes move-grid-plane {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -32px 0;
  }
}

html.dark .grid-ani::before {
  background: linear-gradient(0deg, rgba(13, 17, 23, 0) 0, rgba(13, 17, 23, 1) 70%);
}

html.dark .grid-ani::after {
  background-image:
    linear-gradient(to right, #252525 1px, transparent 1px),
    linear-gradient(to bottom, #252525 1px, transparent 1px);
}

@media (min-width: 920px) {
  .grid-ani {
    left: 280px;
    width: calc(100% - 280px);
  }
}
