*, ::after, ::before {
  box-sizing: border-box;
}

html, body > header {
  min-width: 320px;
}

body {
  font-family: "Helvetica Neue", Helvetica, "lucida grande", tahoma, Arial, sans-serif;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  font-size: .92rem;
  margin: 0;
}

a, article, header, nav, section, table, td, th, .info, .box, ::after, ::before {
  border: 0 solid #d9d6d6;
}

body *, body ::after, body ::before {
  transition: all .05s ease-in-out;
}

html, #menu {
  background: #fff;
  color: #1c2024;
}

html.dark, html.dark #menu {
  background: #111113;
  color: white;
}

body {
  background: inherit;
  color: inherit;
}

html.dark, html.dark * {
  scrollbar-color: #474851 #100f13;
}

#container {
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#container > main {
  flex: 1 0 0;
}

body > header {
  backdrop-filter: blur(.25rem);
  background: rgba(255,255,255,.84);
  position: fixed;
  z-index: 101;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom-width: thin !important;
}

html.dark body > header {
  background: rgba(0,0,0,.72);
}

body > header > div {
  display: flex;
  gap: .32rem;
  height: 70%;
}

#logo {
  flex: 0 0 100px;
}

button, .btn {
  overflow: hidden;
  position: relative;
}

button, .btn, button *, .btn * {
  cursor: pointer;
}

#color-scheme select {
  outline: none;
  border: none;
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  width: 150%;
  text-indent: -999999px;
  background: transparent;
  appearance: none;
}

#menu {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 280px;
  min-width: 240px;
  max-width: 400px;
  border-right-width: thin !important;
  padding: .64rem;
  padding-bottom: 2rem;
}

#menu-backdrop {
  background: rgba(0,0,0,0);
  backdrop-filter: blur(.5rem);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transition-property: background;
}

#menu-toggle {
  display: none;
}

#menu a {
  display: block;
}

#menu dl {
  margin: 0;
}

#menu a, #menu dl {
  margin-bottom: .2rem;
}

#menu dt {
  font-weight: bold;
}

#menu dd {
  display: list-item;
  margin-left: 1.6rem;
  list-style: disc outside;
}

body > header a,
body > header .btn,
#menu a,
#menu dt {
  color: inherit !important;
  text-decoration: none;
  background: transparent;
  border-radius: .35rem;
  border: none;
  padding: .5rem;
}

body > header .icon,
body > header .icon,
body > header a > span,
body > header .btn > span {
  vertical-align: middle;
  pointer-events: none;
}

a.current {
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: 24px;
}

body > header, .info, .box {
  box-shadow: 0 .05rem .15rem rgba(0,0,0,.025), 0 .05rem .1rem rgba(0,0,0,.05);
}

.info, .box {
  border-radius: .35rem;
}

.info.note {
  background: #dde7ff;
}

.info.warn {
  background-color: #fff4ae;
  border-color: #d7b35d;
}

.info.warn a {
  color: inherit !important;
}

main {
  padding: 4rem;
  padding-top: 100px;
}

main, #container > footer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

h1 {
  padding: .6rem 0;
  margin: 0;
}

h1 ~ p {
  margin: .2rem .2rem 1rem .2rem;
}

h2 {
  margin-top: -2rem;
  padding-top: 4rem;
  margin-bottom: .875rem;
}

h2 a, h3 a {
  color: inherit !important;
  text-decoration: none;
}

h2 a::after, h3 a::after {
  display: none;
  margin-left: .4rem;
  content: "#";
  color: #ccc;
}

h2 a:hover::after, h3 a:hover::after {
  display: inline;
}

main > section {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-top-width: thin !important;
}

section p {
  line-height: 1.5;
}

section ul {
  padding-left: 1.5rem;
}

code {
  /* padding: .1rem .16rem;*/
  padding: .01rem .3rem;
  margin: .05rem .1rem;
  display: inline-block;
  border: thin solid #45494f;
  background: #18191b;
  color: #fff;
  border-radius: .2rem;
  white-space: pre-wrap;
  word-wrap: anywhere;
}

td code {
  max-width: 300px;
}

footer {
  display: flex;
  gap: .75rem;
}

#container > footer {
  justify-content: space-between;
  padding: 2rem 4rem;
  font-size: .72rem;
}

#container > footer > :last-child {
  text-align: right;
}

#container > footer p {
  margin: .05rem 0;
}

main > footer {
  margin-top: 3.5rem 0 1.5rem 0;
  flex-direction: row-reverse;
}

main > footer > * {
  flex: 1 0 0;
}

ul > li {
  margin-bottom: .5rem;
}

/* mobile */
@media (max-width: 1000px) {
  #menu {
    position: fixed;
    z-index: 102;
    left: auto;
    right: 0;
    top: 0;
    width: 80%;
    transform: translateX(100%);
  }

  body.show-menu {
    overflow: hidden;
  }

  body.show-menu #menu {
    box-shadow: 0 19px 38px rgba(0,0,0,.30), 0 15px 12px rgba(0,0,0,.22);
    transform: translateX(0);
  }

  body.show-menu #menu + #menu-backdrop {
    background: rgba(0,0,0,.5);
    height: 100vh;
    width: 100vw;
  }

  html.dark body.show-menu #menu + #menu-backdrop {
    background: rgba(0,0,0,0);
  }

  #menu a, #menu dt {
    padding: .8rem;
  }

  #menu-toggle {
    display: block;
  }

  #menu-backdrop {
    display: block;
  }

  #container {
    margin-left: 0;
  }

  main, #container > footer {
    padding: 1.5rem;
  }

  .compact {
    visibility: hidden !important;
    overflow: hidden !important;
    display: block !important;
    width: 1px !important;
    height: 1px !important;
  }
}

@media (max-width: 640px) {
  main > footer {
    flex-direction: column;
  }
}

table {
  border: none;
  border-collapse: collapse;
  min-width: 600px;
  width: 100%;
}

th {
  text-align: left;
  border-bottom-width: thin !important;
  white-space: nowrap;
}

th, td {
  font-weight: normal;
  padding: .75rem;
  border-right-width: thin !important;
}

tr>:last-child {
  border-right-width: 0 !important;
}

td:first-child {
  min-width: 170px;
}

thead {
  background: rgba(0,0,0,.02);
  font-size: .9em;
}

tbody > tr:nth-child(2n) {
  background: rgba(0,0,0,.04);
}

body > header a:hover,
body > header .btn:hover,
#menu a:hover,
#menu a.current,
tbody > tr:hover {
  background: #e6f4fe;
}

/***************************/
.info {
  color: inherit;
  background: transparent;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: .75rem;
  text-decoration: none;
}

.info, .box {
  border-width: thin !important;
  position: relative;
}

a.info:hover, button.info:hover {
  background: rgba(0,0,0,.05);
}

.info > img, .info > [role="img"] {
  fill: currentColor;
  flex: 0 0 20px;
  width: 20px;
}

.info > p {
  flex: 1 0 0;
}

.info.alt, .info[rel="next"] {
  flex-direction: row-reverse;
}

.info.alt > img,
.info.alt > [role="img"],
.info[rel="next"] > img,
.info[rel="next"] > [role="img"] {
  transform: scale(-1, -1);
}

html.dark a.info:hover, html.dark button.info:hover {
  background: rgba(255,255,255,.05);
}

.box {
  overflow: auto;
  overflow-y: hidden;
}

.box, .info {
  margin-bottom: .875rem;
}

.box > code {
  margin: 0;
  border: none;
  display: block;
  padding: 1rem;
  overflow-x: auto;
  max-width: initial;
  white-space: pre;
}

.box > code em { color: #ac95ff; }
.box > code b { color: #54cc72; }
.box > code i { color: #c39c00; }
.box > code * {
  font-style: normal;
  font-weight: normal;
}
.box > code strong {
  color: #a2a3a4;
  font-weight: bold !important;
}

.box > code i::first-letter { color: #fff; }

a[href] {
  color: #d90000;
}

::marker {
  color: #d90000;
}

html.dark a[href] {
  color: #ff7a7a;
}

html.dark ::marker {
  color: #ff7a7a;
}

a[rel^="prev"].info,
a[rel*=" prev"].info,
a[rel^="next"].info,
a[rel*=" next"].info {
  color: inherit !important;
  font-weight: bold;
}

/* code blocks */
code[data-lang=terminal] {
  color: #00da59;
}

code > span::before {
  color: #c6d6c7;
}
code[data-lang=terminal] > span::before {
  content: "$";
  display: inline-block;
  margin-right: .5em;
}
code > span.output::before {
  content: "";
  margin-right: 0;
}
code.lines {
  counter-reset: line;
}
code.lines > span:not([class])::before {
  display: block;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: thin solid #414856;
  padding-right: .5em;
  width: 1.9em;
  margin-right: .92em;
  text-align: right;
}
code.lines > span.output, code.lines > span:not([class])::before {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
}
/* code blocks */

/* folder tree */
.tree, .tree ul {
  padding: 0 0 0 2em;
  margin: 0;
}
.tree, .tree ::before, .tree ::after {
  border-color: #c3c3c3;
}
.tree li {
  list-style-type: none;
  margin: 0 0 0 .2em;
  position: relative;
  min-height: 1.5em;
}
.tree li ul {
  margin-top: .2em;
}
.tree li::after {
  position: absolute;
  top: calc(.75em);
  left: -2em;
  border-top-width: thin !important;
  content: "";
  width: 2em;
}
.tree li::before {
  position: absolute;
  left: -2em;
  top: 0;
  border-left-width: thin !important;
  content: "";
  width: 2em;
  height: 100%;
}
.tree li:last-child::before {
  height: .75em;
}
.tree b {
  font-family: monospace;
  flex: 0 0 6em;
}

.sr {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip-path: inset(50%);
  border: 0 !important;
}

/* dark */
html.dark .info,
html.dark .box,
html.dark table,
html.dark th,
html.dark td,
html.dark body > header,
html.dark #menu,
html.dark main > section {
  border-color: #363a3f;
}

html.dark tbody > tr:nth-child(2n) {
  background: rgba(255,255,255,.04);
}

html.dark .info.warn {
  background-color: #272115;
  border-color: #664613;
}

html.dark .info.note {
  background-color: #0d2847;
  border-color: #205d9e;
}

html.dark body > header a:hover,
html.dark body > header .btn:hover,
html.dark #menu a:hover,
html.dark #menu a.current,
html.dark tbody > tr:hover {
  background: #0d2847;
}
