root = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{cjs,css,cts,ctsx,htm,html,js,jsm,less,mjs,mts,mtsx,pcss,sass,scss,svg,ts,tsx,vue}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = false
